# DS320 Spring 2023: excercise 02
<b> posted on Friday 02/24/23, due date is Thusday 03/02/23, at 8:00 AM </b><br>

This exercise is to work with pandas: <u>selection, sorting, adding new columns and computing values</u>.

There are 11 tasks, each is worth 10 points. You will get 100/100 for the maximum score of this exercise.

The last task is bonus. If you get 1xy points, you can reserve xy points for any other exercises.

For each `task i` create a variable `ti` to store the outcomes of that task. For example, store the outcome of `task 01` in a variable, called `t1`.

Note: I will mannually grade your code, so no test case will be provided, but I can give you the expectation of the outcomes for each task.

In [60]:
#The following code is to read a csv file into a dataframe. 
#Take a look at the summary and 5 first rows of the data. You then will
#work on that dataframe.


#You need to run this code cell first

import pandas as pd
df_fortune = pd.read_csv("./fortune1000.csv")

print("(#rows, #cols): ", df_fortune.shape)
df_fortune.head(5)

(#rows, #cols):  (1000, 18)

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
0,Walmart,1,0.0,572754.0,13673.0,2300000.0,Retailing,Bentonville,AR,no,no,no,yes,1.0,C. Douglas McMillon,https://www.stock.walmart.com,WMT,352037
1,Amazon,2,0.0,469822.0,33364.0,1608000.0,Retailing,Seattle,WA,no,no,no,yes,2.0,Andrew R. Jassy,www.amazon.com,AMZN,1202717
2,Apple,3,0.0,365817.0,94680.0,154000.0,Technology,Cupertino,CA,no,no,no,yes,3.0,Timothy D. Cook,www.apple.com,AAPL,2443962
3,CVS Health,4,0.0,292111.0,7910.0,258000.0,Health Care,Woonsocket,RI,no,no,yes,yes,4.0,Karen Lynch,https://www.cvshealth.com,CVS,125204
4,UnitedHealth Group,5,0.0,287597.0,17285.0,350000.0,Health Care,Minnetonka,MN,no,no,no,yes,5.0,Andrew P. Witty,www.unitedhealthgroup.com,UNH,500468

# Task 01: select one column
Select names of all companies<br>
Expectation: a Series, #values = 1000

In [61]:
###BEGIN SOLUTION
t1 = df_fortune['company']
print (len(t1))
###END SOLUTION

1000

# Task 02: select more than one column
Create a dataframe containing 3 columns: company, rank, and profit<br>
Expectation: a dataframe, shape = (1000, 3)

In [62]:
###BEGIN SOLUTION
t2 = df_fortune[['company', 'rank', 'profit']]
print(t2.shape)
###END SOLUTION

(1000, 3)

# Task 03: select rows
Create a dataframe containing all rows without rank change, e.g., rank_change = 0<br>
Hint: think about boolean indexing, you need to create a Series of True/Flase values, each value is associated with a row: True = you will take that row, False = you will not.<br>
For example, df_fortune['state'] = 'IA' will create a Series of True/False values: True if state of a company = 'IA', False otherwise.<br> 
Expectation: a dataframe with shape = (544, 18)

In [63]:
###BEGIN SOLUTION
t3 = df_fortune[df_fortune.rank_change == 0]
print(t3.shape)
###END SOLUTION

(544, 18)

# Task 04: select both rows and columns
Create a dataframe containing companies' names and revenue where revenue is greater than 100,000 <br>
Expectation: a dataframe with shape = (33, 2)

In [64]:
###BEGIN SOLUTION
t4 = df_fortune[df_fortune['revenue'] > 100000][['company', 'revenue']]
print(t4.shape)
###END SOLUTION

(33, 2)

# Task 05: select both rows and columns (more)
Create a dataframe containing company, num. of employees, and profit where num. of employees is greater than 10,000 and profit is greater than 50,000<br>
Expectation: a dataframe with shape = (4, 3)

In [65]:
###BEGIN SOLUTION
t5 = df_fortune[(df_fortune['num. of employees'] > 10000) & (df_fortune['profit'] > 50000)][['company','num. of employees','profit']]
print(t5.shape)

###END SOLUTION

(4, 3)

# Task 06: select both rows and columns (more)

Create a dataframe of profitable companies (e.g., profitable = yes) with company, profit, and state
Expectation: a dataframe with shape = (883, 3)

In [72]:
###BEGIN SOLUTION
t6 = df_fortune[df_fortune['profitable'] == 'yes'][['company', 'profit', 'state']]
print(t6.shape)

###END SOLUTION

(883, 3)

# Task 07: more on selection
The profit of Apple 
Expectation: a scalar

In [67]:
###BEGIN SOLUTION
t7 = df_fortune[df_fortune['company'] == "Apple"]["profit"].iloc[0]
print(t7)
###END SOLUTION

94680.0

# Task 08: sorting
Create a dataframe containing all companies in Iowa, sort them in the ascending order of city<br>
hint: use the sort_values() function for a dataframe, chapter 5, section sorting and ranking: dataframe.sort_values([column_name_1, column_name_2, ...]) <br>
expectation: a dataframe, shape = (5, 18)

In [68]:
###BEGIN SOLUTION
t8 = df_fortune[df_fortune['state'] == 'IA'].sort_values(['city'])
print(t8.shape)
###END SOLUTION

(5, 18)

# Task 09: more on sorting
Top 5 companies with the highest revenue in the sector Health Care sector,
expectation: a dataframe, shape = (5,18)

In [69]:
###BEGIN SOLUTION
t9 = df_fortune[df_fortune['sector'] == 'Health Care'].sort_values(['revenue'], ascending = False)[:5]
print(t9.shape)
###END SOLUTION

(5, 18)

# Task 10: Adding a new column
Create a dataset of all companies with increasing rank (e.g., rank_change > 0), then add a new column to that dataset. The new column is the ratio of profit to num. of employees, name the new column "profit_per_employee".

expectation: a dataframe, shape = (172, 19)

In [70]:
t10 = df_fortune[df_fortune['rank_change'] > 0]
t10['profit_per_employee'] = t10['profit'] / t10['num. of employees']
print(t10.shape)

(172, 19)

/tmp/ipykernel_516163/2067710656.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t10['profit_per_employee'] = t10['profit'] / t10['num. of employees']

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap,profit_per_employee
5,Exxon Mobil,6,4.0,285640.0,23040.0,63000.0,Energy,Irving,TX,no,no,no,yes,10.0,Darren W. Woods,www.exxonmobil.com,XOM,371841,0.365714
7,Alphabet,8,1.0,257637.0,76033.0,156500.0,Technology,Mountain View,CA,no,no,no,yes,9.0,Sundar Pichai,https://www.abc.xyz,GOOGL,1309359,0.485834
10,Costco Wholesale,11,1.0,195929.0,5007.0,288000.0,Retailing,Issaquah,WA,no,no,no,yes,12.0,W. Craig Jelinek,www.costco.com,COST,230443,0.017385
11,Cigna,12,1.0,174078.0,5365.0,72963.0,Health Care,Bloomfield,CT,no,no,no,yes,13.0,David Cordani,https://www.cigna.com,CI,88459,0.073530
13,Microsoft,14,1.0,168088.0,61271.0,181000.0,Technology,Redmond,WA,no,no,no,yes,15.0,Satya Nadella,www.microsoft.com,MSFT,1941033,0.338514
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,Arconic,452,24.0,7504.0,-397.0,13900.0,Materials,Pittsburgh,PA,no,no,no,no,476.0,Timothy D. Myers,https://www.arconic.com,ARNC,2690.7,-0.028561
459,KBR,460,10.0,7339.0,18.0,28000.0,Engineering & Construction,Houston,TX,no,no,no,yes,470.0,Stuart J.B. Bradie,https://www.kbr.com,KBR,7634.9,0.000643
462,Analog Devices,463,18.0,7318.3,1390.4,24700.0,Technology,Wilmington,MA,no,no,no,yes,481.0,Vincent T. Roche,https://www.analog.com,ADI,86441.2,0.056291
474,Camping World Holdings,475,21.0,6913.8,278.5,12834.0,Retailing,Lincolnshire,IL,no,no,no,yes,496.0,Marcus A. Lemonis,https://www.campingworld.com,CWH,2664.6,0.021700
483,Commercial Metals,484,8.0,6729.8,412.9,11089.0,Materials,Irving,TX,no,no,yes,yes,492.0,Barbara R. Smith,https://www.cmc.com,CMC,5056.7,0.037235

# Task 11: computing values
The raito of mean Market Cap of companies in IA to the mean Market Cap of all companies.
Note: the values in the Market Cap column are objects (strings) and there are missing values there. You need (1) convert strings -> numbers and (2) skip NaN when computing the mean.

ref: 
https://pandas.pydata.org/docs/reference/api/pandas.to_numeric.html <br>
https://pandas.pydata.org/docs/reference/api/pandas.Series.mean.html

expectation: 0.17502562662783044

In [73]:
###BEGIN SOLUTION
mean_IA = df_fortune[df_fortune['state'] == 'IA']['Market Cap']
mean_IA = pd.to_numeric(mean_IA).mean(skipna = True)

mean_all = df_fortune['Market Cap']
mean_all = pd.to_numeric(mean_all, errors='coerce').mean(skipna = True)

t11 = mean_IA/mean_all
print(t11)
#mean_all = df_fortune['Market Cap'].astype('float').mean(skipna = True)
#t9 = mean_IA/mean_all
#print(t9)
###END SOLUTION

0.17502562662783044