# DS320 Spring 2023: project 02
<b> posted on Friday 03/04/23, Due on Thursday 03/09/23 at 8:00 AM </b><br>

The focus of this assignment is <b>concatenation</b> and <b>computation</b><br>

There are 11 tasks, each is worth 10 points. You will get 100/100 for the maximum score of this project.

The last task is bonus. If you get 1xy points, you can reserve xy points for any other projects.

Note: I will mannually grade your code, so no test cases will be provided, but I can give you the expectation of the outcomes for each task.

In [2]:
import pandas as pd

# Task 01: reading the "world" data.
There are 05 csv files included in this assignment. <b>Read them into dataframes</b> and <b>delete all rows with missing values</b><br>
Name them as follows <br>
<b>df_codes</b> (from the world_codes.csv file),<br>
<b>df_demo</b> (from the world_demo.csv file), <br>
<b>df_geo</b> (from the world_geo.csv file),<br>
<b>df_gov</b> (from the world_gov.csv file),<br>
<b>df_regions</b> (from the world_regions.csv file).<br>
Expectations: 5 dataframes with shapes:
(244, 7)
(233, 2)
(248, 4)
(195, 4)
(246, 3)

In [3]:
###BEGIN SOLUTION
df_codes = pd.read_csv("./world_codes.csv")
df_demo = pd.read_csv("./world_demo.csv")
df_geo = pd.read_csv("./world_geo.csv")
df_gov = pd.read_csv("./world_gov.csv")
df_regions = pd.read_csv("./world_regions.csv")

#df_codes = df_codes[df_codes.isna().any(axis='columns')]

df_codes.dropna(inplace = True)
df_demo.dropna(inplace = True)
df_geo.dropna(inplace = True)
df_gov.dropna(inplace = True)
df_regions.dropna(inplace = True)

print(df_codes.shape)
print(df_demo.shape)
print(df_geo.shape)
print(df_gov.shape)
print(df_regions.shape)

###END SOLUTION

(244, 7)
(233, 2)
(248, 4)
(195, 4)
(246, 3)

# Task 02: Looking at data types first
<b>Show data types of all columns</b> in 5 dataframes<br>
Hint: use DataFrame.dtypes.<br>
Expectation: variety of data types are printed. <br>
You will see some columns have numerical values, but in different types such as int64, object (string). You will need to convert numerical values into integers or float numbers for comparison and calculation.
You also see all five dataframes have one column in common: Country

In [4]:
###BEGIN SOLUTION
print(df_codes.dtypes)
print(df_demo.dtypes)
print(df_geo.dtypes)
print(df_gov.dtypes)
print(df_regions.dtypes)
###END SOLUTION

Country                object
Official state name    object
Sovereignty            object
Alpha-2 code           object
Alpha-3 code           object
Numeric code            int64
Internet ccTLD         object
dtype: object
Country       object
Population     int64
dtype: object
Country        object
Total (km2)    object
Land (km2)     object
Water (km2)    object
dtype: object
Country                object
Constitutional form    object
Head of state          object
Capital                object
dtype: object
Country      object
Region       object
Continent    object
dtype: object

# Task 03: Delete row(s)
df_geo: delete all rows if they has at least one "-" in the Water (km2) column<br>
Expectation: one row is deleted

In [5]:
###BEGIN SOLUTION
print(df_geo.shape)
ind = df_geo['Water (km2)'].apply(lambda x: True if x.find('-') != -1 else False)
ind = df_geo[ind].index
df_geo.drop(index = ind, inplace = True)
print(df_geo.shape)
###END SOLUTION

(248, 4)
(247, 4)

# Task 04: Convert data types
Convert the data type of column "Total (km2)" to float<br>
Convert the data type of column "Land (km2)" to float<br>
Convert the data type of column "Water (km2)" to float<br>
Hints: <br>
since they are strings of numbers with thousand separator (by ,), you need to replace "," with an empty string before convert them into float<br>
use apply(), lambda() functions, and string.replace()<br>
see good examples here https://sparkbyexamples.com/pandas/pandas-apply-function-usage-examples/<br>
https://queirozf.com/entries/pandas-dataframes-apply-examples<br>
use dataframe.astype() to convert data types<br>
see example here: https://sparkbyexamples.com/pandas/pandas-convert-string-to-float-type-dataframe/<br>
expectation: all data in three columns is converted into float.

In [6]:
###BEGIN SOLUTION
df_geo['Water (km2)'] = df_geo['Water (km2)'].apply(lambda x: x.replace(",", "") )
df_geo['Total (km2)'] = df_geo['Total (km2)'].apply(lambda x: x.replace(",", "") )
df_geo['Land (km2)'] = df_geo['Land (km2)'].apply(lambda x: x.replace(",", "") )

#df_geo[['Total (km2)','Land (km2)','Water (km2)' ]] = 
df_geo = df_geo.astype({ 'Total (km2)': 'float', 'Land (km2)': 'float','Water (km2)': 'float'}, copy=False)
df_geo.head()
###END SOLUTION

          Country  Total (km2)  Land (km2)  Water (km2)
1     Afghanistan     652864.0    652864.0          0.0
4         Albania      28748.0     27398.0       1350.0
5         Algeria    2381741.0   2381741.0          0.0
6  American Samoa        199.0       199.0          0.0
7         Andorra        468.0       468.0          0.0

# Task 05: Set index 
We will concatenate dataframes in next tasks. To do that we have to set index for each dataframe and make sure index must be unique. So, <b>set each dataframe index using column "Country" </b> and if there is a duplication in any index, keep the first occurence and remove the rest . You do not need to create any variable for this task<br>
Hint: use DataFrame.set_index(), use Series.duplicated(keep = 'first')<br>
Note: Once you set_index('column_name'), that column is no longer a feature (data field), but index<br>
Expectation: all dataframes have index set up and shapes as follows 
(244, 6)
(233, 1)
(246, 3)
(195, 3)
(246, 2)

In [7]:
###BEGIN SOLUTION
df_codes.set_index('Country', inplace=True)
df_demo.set_index('Country', inplace=True)
df_geo.set_index('Country', inplace=True)
df_gov.set_index('Country', inplace=True)
df_regions.set_index('Country', inplace=True)

df_codes = df_codes.loc[~df_codes.index.duplicated(keep='first')]
df_demo = df_demo.loc[~df_demo.index.duplicated(keep='first')]
df_geo = df_geo.loc[~df_geo.index.duplicated(keep='first')]
df_gov = df_gov.loc[~df_gov.index.duplicated(keep='first')]
df_regions = df_regions.loc[~df_regions.index.duplicated(keep='first')]

print(df_codes.shape)
print(df_demo.shape)
print(df_geo.shape)
print(df_gov.shape)
print(df_regions.shape)

###END SOLUTION

(244, 6)
(233, 1)
(246, 3)
(195, 3)
(246, 2)

# Task 06: Concatenation and Selection
Create a dataframe containing Country (as index), Capital, and Alpha2 code. The dataframe needs to include countries in both df_codes <i>and</i> df_gov<br>
Requirement: you have to use pandas.concat() <br>
Expectation: a dataframe with shape = (184, 2)

In [8]:
###BEGIN SOLUTION
t6 = pd.concat([df_codes, df_gov], axis='columns', join="inner")[["Capital", "Alpha-2 code"]]
print(t6.shape)
t6.head()
###END SOLUTION

(184, 2)

                      Capital Alpha-2 code
Country
Afghanistan             Kabul           AF
Albania                Tirana           AL
Algeria               Algiers           DZ
Andorra      Andorra la Vella           AD
Angola                 Luanda           AO

# Task 07: Concatenation and Selection (more)

Create a dataframe containing Country (as index), Total (km2), Land (km2), Water(km2), Population, and Continent. The dataframe needs to include countries in all df_demo, df_geo <i>and</i> df_regions <br>
Requirement: you have to use pandas.concat()<br>
Expectation: a dataframe with shape = (212, 5)

In [9]:
###BEGIN SOLUTION
t7 = pd.concat([df_demo, df_geo, df_regions], axis='columns', join = 'inner')[["Total (km2)", "Land (km2)", "Water (km2)", "Population", "Continent"]]
print(t7.shape)
t7.head()
###END SOLUTION

(212, 5)

                Total (km2)  Land (km2)  Water (km2)  Population Continent
Country
Afghanistan        652864.0    652864.0          0.0    38041754      Asia
Albania             28748.0     27398.0       1350.0     2880917    Europe
Algeria           2381741.0   2381741.0          0.0    43053054    Africa
American Samoa        199.0       199.0          0.0       55312   Oceania
Andorra               468.0       468.0          0.0       77142    Europe

# Task 08: Computing
From the resutled dataframe in Task 07, count number of countries by Continent 
Expectation: a Series with index = Continents, and 6 values

In [10]:
###BEGIN SOLUTION
t8 = t7.Continent.value_counts()
print(t8)
###END SOLUTION

Africa           50
Asia             46
Europe           46
North America    35
Oceania          22
South America    13
Name: Continent, dtype: int64

# Task 09: Computing (more)
From the resutled dataframe in Task 07, compute population by Continent <br>
Note: you are not allowed to use `groupby`<br>
Expectation:<br>
`Continent      |Population    |`<br>
`Africa         | 1,185,561,387|`<br>
`Asia           | 4,516,395,203|`<br>
`Europe         |   746,961,814|`<br>
`North America  |   586,569,152|`<br>
`Oceania        |    42,019,638|`<br>
`South America  |   426,908,614|`

In [11]:
###BEGIN SOLUTION
c, p = 'Continent','Population' 
print(f'{c:15}|{p:14}|')
for continent in t8.index:
    p = t7[t7.Continent == continent].Population.sum()
    print(f'{continent:15}|{p:14,}|')
###END SOLUTION

Continent      |Population    |
Africa         | 1,185,561,387|
Asia           | 4,516,395,203|
Europe         |   746,961,814|
North America  |   586,569,152|
Oceania        |    42,019,638|
South America  |   426,908,614|

# Task 10: Computing (more)
From the resutled dataframe in Task 07, compute and print the follows:<br>
Population for each continent<br>
Total (km2) for each continent<br>
Note: you are not allowed to use `groupby`
Expectation: <br>

`Continent      |Population    |Total (km2)  `<br>
`Africa         | 1,185,561,387| 27,039,456.0`<br>
`Asia           | 4,516,395,203| 31,870,744.0`<br>
`Europe         |   746,961,814| 23,149,819.0`<br>
`North America  |   586,569,152| 24,393,692.0`<br>
`Oceania        |    42,019,638|  8,514,379.0`<br>
`South America  |   426,908,614| 17,745,029.0`
`

In [12]:
###BEGIN SOLUTION
c, p, km2 = 'Continent','Population', 'Total (km2)' 
print(f'{c:15}|{p:14}|{km2:13}')
for continent in t8.index:
    p = t7[t7.Continent == continent].Population.sum()
    km2 = t7[t7.Continent == continent]['Total (km2)'].sum()
    print(f'{continent:15}|{p:14,}|{km2:13,}')
###END SOLUTION

Continent      |Population    |Total (km2)
Africa         | 1,185,561,387| 27,039,456.0
Asia           | 4,516,395,203| 31,870,744.0
Europe         |   746,961,814| 23,149,819.0
North America  |   586,569,152| 24,393,692.0
Oceania        |    42,019,638|  8,514,379.0
South America  |   426,908,614| 17,745,029.0

# Task 11: computing and sorting
Create a dataframe containing 4 columns: Continent, Population, Total (km2) (from task 10) and Km2_person, where Km2_person is the ratio of Total (km2) to Population. Sort the dataframe by Km2_person with descending order
expectation: a dataframe, shape = (6,4)

In [13]:
###BEGIN SOLUTION
cs, ps, km2s = [],[],[]
for continent in t8.index:
    p = t7[t7.Continent == continent].Population.sum()
    km2 = t7[t7.Continent == continent]['Total (km2)'].sum()
#    print(f'{continent:15}|{p:14,}|{km2:13,}')
    cs.append(continent)
    ps.append(p)
    km2s.append(km2)

t11 = pd.DataFrame(data = {'Continent': cs, 'Population':ps, 'Total (km2)': km2s})
t11['Km2_person'] = t11['Total (km2)']/t11.Population
t11.sort_values(by = ['Km2_person'], ascending =False, inplace=True)
print(t11.shape)
t11.head()
t11.to_csv("./continents.csv")
###END SOLUTION

(6, 4)